{% extends "templates/admin/base.html.twig" %}

{% block title %}home
{% endblock %}

{% block content %}
	<h2 class="text-2xl font-bold text-gray-800 mb-6">home</h2>

	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 font-['Poppins']">
		<!-- Card Total de Notícias -->
		<div class="bg-white p-6 rounded-lg shadow-md flex items-center justify-between">
			<div>
				<p class="text-sm text-gray-500">Total de Notícias</p>
				<p class="text-3xl font-bold text-gray-800">{{ stats.totalNoticias }}</p>
			</div>
			<div class="bg-blue-100 p-3 rounded-full">
				<svg class="w-8 h-8 text-blue-500" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
				</svg>
			</div>
		</div>

		<!-- Card Total de Usuários -->
		<div class="bg-white p-6 rounded-lg shadow-md flex items-center justify-between">
			<div>
				<p class="text-sm text-gray-500">Total de Usuários</p>
				<p class="text-3xl font-bold text-gray-800">{{ stats.totalUsuarios }}</p>
			</div>
			<div class="bg-green-100 p-3 rounded-full">
				<svg class="w-8 h-8 text-green-500" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
				</svg>
			</div>
		</div>

		<!-- Card Total de Categorias -->
		<div class="bg-white p-6 rounded-lg shadow-md flex items-center justify-between">
			<div>
				<p class="text-sm text-gray-500">Total de Categorias</p>
				<p class="text-3xl font-bold text-gray-800">{{ stats.totalCategorias }}</p>
			</div>
			<div class="bg-yellow-100 p-3 rounded-full">
				<svg class="w-8 h-8 text-yellow-500" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path>
				</svg>
			</div>
		</div>

		<!-- Card Total de Projetos -->

		<div class="bg-white p-6 rounded-lg shadow-md flex items-center justify-between">
			<div>
				<p class="text-sm text-gray-500">Total de Projetos</p>
				<p class="text-3xl font-bold text-gray-800">{{ stats.totalProjetos }}</p>
			</div>
			<div class="bg-rose-100 p-3 rounded-full">
				<svg class="w-8 h-8 text-rose-500" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
				</svg>
			</div>
		</div>
	</div>
{% endblock %}
